*{
    padding:0;
    margin:0;
}
.b4{
    background-color: bisque;
}
input{
    background-color: red;
    width:130px;
    position: relative;
    top:60px;
}
p{
    position: relative;
    top:50px;
    
}
img{
    position: relative;
    left:500px;
    bottom:80px;
}
ul{
    display:flex;
    position:relative;
    bottom:300px;
    gap:10px;
    left:500px;
}
h1{
    position:relative;
    top:30px;
}